@model Webshop.Models.ShoppingCartView;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
  ViewData["Title"] = ViewData["Name"];
}

<h1>@ViewData["Name"];</h1>
<a asp-action="Index">Go back</a> <br/>



<div class="row">
  <div class="col-md-6">
     <img height="400px" width="400px" src='@string.Format("/images/products/{0}.jpg", @ViewData["Id"])'>
  </div>

    <div class="col-md-4">
           <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Details</a>
                   </h4>
                  </div>
                 <div id="collapse1" class="panel-collapse collapse out">
                     <div class="panel-body">
                         <h3><small>Price: </small>$@ViewData["Price"]</h3>
                               @ViewData["Descr"]
                     </div>
                  </div>
                </div>
             </div>
             @if(HttpContextAccessor.HttpContext.Request.Cookies["user"] == null)
             {
             <button type="button" class="btn btn-default disabled">to shoppingcar<abbr title="You have to be signed in">t</abbr> </button>
             }else{
               <form asp-controller="ShoppingCart" asp-action="Add">
                      <input asp-for="Id" type="hidden" value="@ViewData["Id"]">
                      <input asp-for="CustomerId" type="hidden" value="@HttpContextAccessor.HttpContext.Request.Cookies["user"]">
                      <input asp-for="Amount" type="hidden" value="1">
                      <input class="btn btn-default" type="submit" value="To shoppingcart">
               </form>
                
             }
      </div>

      
  
</div>

<div class="row">

<div class="col-md-6">



</div>
</div>



