 <h1>All Products</h1>

@{
  var Prev = ViewData["Prev"];
  var Next = ViewData["Next"];
  var Lenght = ViewData["Lenght"];


  <a href="/Product/Get/@Prev">Previous  </a> 

  <a href="/Product/Get/@Next">  Next</a> 
}


 <div class="row"></div>
        @foreach(var p in ViewData["Product"] as IEnumerable<Webshop.Models.EntityInfo.ProductInfo>){
        
           <!--Products section-->
            <div class="col-lg-4">
               <div class="thumbnail">
                  <a asp-controller="Product" asp-action="ById" asp-route-id="@p.Id">
                   <img width="700px" height="400px" src='@string.Format("/images/products/{0}.jpg", @p.Id)'>
                     <div class="caption">
                       <p> @p.Name</p>
                       <p>@p.Price</p>
                    </div>
                 </a>
               </div> 
            </div> 
            <!--One section per product-->
            }