@model Webshop.Utils.Paginator.Page<Webshop.Models.Product>;

@{
    ViewData["Title"] = "All Products";
    var keyword = ViewData["keyword"];
    int prev = Model.Index - 1;
    int next = Model.Index + 1;
}

<h1>All Products | Page @(Model.Index+1) from @(Model.TotalPages+1)</h1>

@if(keyword != null)
{
<h2>There are <b>@ViewData["count"]</b> search results for <b>@keyword</b></h2>
}


<div class="row">
    <div class="col-lg-12">
        <form method="get" asp-controller="Product" asp-action="Index" id="sort_price">
            <input type="hidden" value="@keyword" name="keyword">
             <select name="order" form="sort_price">
                 <option>-</option>
                 <option value="PRICELOWHIGH">Price: Low to High</option>
                 <option value="PRICEHIGHLOW">Price: High to Low</option>
             </select>
             <input class="btn btn-info" value="aply filter" type="submit">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="pager">
            @if(@Model.Index > 0)
            {
           <li class="previous"><a asp-controller="Product" asp-action="Index" asp-route-page="@prev" asp-route-keyword="@keyword">Previous</a></li>
            }
            @if(@Model.Index < @Model.TotalPages)
            {
           <li class="next"><a asp-controller="Product" asp-action="Index" asp-route-page="@next" asp-route-keyword="@keyword">Next</a></li>
            }
        </ul>
    </div>
</div>

<br/>
<div class="row"></div>
        @foreach(var p in Model.Items as IEnumerable<Webshop.Models.Product>)
            {
        
           <!--Products section-->
            <div class="col-lg-3">
               <div class="media">
                  <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Id">
                   <img class="img-responsive" src='@p.ImageUrl'>
                  
                     <div class="item">
                        <p> @p.Name</p>
                     </div>
                     </a>
                </div>
</div> 
}

