@model Webshop.Models.Customer;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}



<div class="row">
    <div class="col-md-8">
        <h1>Customer details from @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1> 
<p>
    <b>Firstname: </b> @Html.DisplayFor(model => model.Name)<br/>
    <b>Lastname: </b> @Html.DisplayFor(model => model.Surname)<br/>
    <b>Gender: </b> @Html.DisplayFor(model => model.Gender)<br/>
    <b>Email: </b> <a href="mailto: @Model.Email" >@Html.DisplayFor(model => model.Email)</a><br/>
    <b>Street: </b> @Html.DisplayFor(model => model.Street)<br/>
    <b>Postalcode: </b> @Html.DisplayFor(model => model.PostalCode)<br/>
    <b>City: </b> @Html.DisplayFor(model => model.City)<br/>
</p>

@if(HttpContextAccessor.HttpContext.Request.Cookies["user"] != null)
{
<p>
<a asp-controller="Account" asp-action="ChangePassword">Change password</a><br/>
<a asp-controller="Customer" asp-action="Edit" >Edit your informartion</a><br/>
<a asp-controller="Customer" asp-action="Delete" class="btn btn-danger">Delete account</a>
</p>
}
     </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Order Overview</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Order number</th>
                    <th>Status</th>
                    <th>Payed with</th>
                    <th>Total Price</th> 
                    <th>Order date</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var o in @ViewData["orders"] as IEnumerable<Webshop.Models.ViewModels.OrderViewModel>)
                {
                    <tr>
                        <td><a asp-controller="Order" asp-action="Detail" asp-route-orderId="@o.OrderId">@o.OrderId</a></td>
                        <td>@o.Status</td>
                        <td>@o.paymentMethod</td>
                        <td>$@o.TotalPrice</td>
                        <td>@o.OrderDate</td>
                        @if(o.Status == 0 && o.Payed == false)
                        {
                            <td><a asp-controller="Order" asp-action="Cancel" asp-route-orderId="@o.OrderId">Cancel order</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
