@model Webshop.Models.Customer;

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}



<div class="row">
    <div class="col-md-8">
        <h1>Customer details from @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1> 
<p>
    <b>Firstname: </b> @Html.DisplayFor(model => model.Name)<br/>
    <b>Lastname: </b> @Html.DisplayFor(model => model.Surname)<br/>
    <b>Gender: </b> @Html.DisplayFor(model => model.Gender)<br/>
    <b>Email: </b> @Html.DisplayFor(model => model.Email)<br/>
    <b>Street: </b> @Html.DisplayFor(model => model.Street)<br/>
    <b>Postalcode: </b> @Html.DisplayFor(model => model.PostalCode)<br/>
    <b>City: </b> @Html.DisplayFor(model => model.City)<br/>
</p>

@if(ViewData["user"] != null)
{
<p>
<a asp-controller="Account" asp-action="ChangePassword">Change password</a><br/>
<a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Id">Edit your informartion</a><br/>
<a asp-controller="Customer" asp-action="Delete" class="btn btn-danger">Delete account</a>
</p>
}
     </div>

</div>
