@model IEnumerable<Webshop.Models.Customer>;

@{
    ViewData["Title"] = "All customers";
}

<h1>Customers</h1>

<a asp-controller="Customer" asp-action="Create">Add customer</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Surname)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Street)</th>
            <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
        </tr>
    </thead>
    <tbody>
         @foreach(var item in Model)
         {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Street)</td>
                <td>@Html.DisplayFor(modelItem => item.PostalCode)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>

                <td>
                   <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                   <a asp-controller="Customer" asp-action="Detail" asp-route-id="@item.Id">Details</a>|
                   <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>