@model IEnumerable<Webshop.Models.Customer>;

@{
    ViewData["Title"] = "All customers";
}

<h1>Customers</h1>

<a class="btn btn-info" asp-controller="Customer" asp-action="Create">Add customer</a><br/><br/>

<form method="get" asp-controller="Customer" asp-action="Index">
    <input name="keyword" type="text" placeholder="Search customers">
    <input type="submit" value="Search">
</form>

<table class="table">
    <thead>
        <tr>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="NAME">@Html.DisplayNameFor(model => model.Name)</a></th>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="SURNAME">@Html.DisplayNameFor(model => model.Surname)</a></th>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="GENDER">@Html.DisplayNameFor(model => model.Gender)</a></th>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="EMAIL">@Html.DisplayNameFor(model => model.Email)</a></th>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="STREET">@Html.DisplayNameFor(model => model.Street)</a></th>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="POSTALCODE">@Html.DisplayNameFor(model => model.PostalCode)</a></th>
            <th><a asp-controller="Customer" asp-action="Index" asp-route-order="CITY">@Html.DisplayNameFor(model => model.City)</a></th>
        </tr>
    </thead>
    <tbody>
         @foreach(var item in Model)
         {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Street)</td>
                <td>@Html.DisplayFor(modelItem => item.PostalCode)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>

                <td>
                   <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                   <a asp-controller="Customer" asp-action="Detail" asp-route-id="@item.Id">Details</a>|
                   <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>